.navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bookDiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  font-family: sans-serif;
  font-weight: bold;
}

.delete {
  display: flex;
  justify-content: flex-end;
}
.bookForm {
padding-top: 20px;
width: 40%;
margin: auto;
}

.hidy {
  display: none;
}

.btn {
  display: flex;
  justify-content: right;
}

.add {
  padding:5px;
  box-shadow: #1c1c1c 2px 2px;
}
.delete {
  padding: 4px 2px;
  box-shadow: #1c1c1c 3px 3px;
}

.books {
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}

.newBook:nth-child(even) {
  background-color: rgb(255, 253, 253);
}

.newBook:nth-child(odd) {
  background-color: #ddd;
}

